html {
  font-size: 14px;
  word-spacing: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.Header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: #00aeef;
}

.Header .HeaderContainer {
  max-width: 480px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1em;
}

.Header .ArrowBack {
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header .HeaderTitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  color: #fff;
}

.Layout {
  background-color: #fff;
  position: relative;
  max-width: 480px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  color: #333;
}

.Layout .LayoutContainer {
  width: 100%;
  padding: 70px 16px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 20px;
  margin: 16px 0;
  font-weight: 400;
  color: #434343;
}

.form-group {
  margin-bottom: 0.75em;
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 9.5px 9.5px 9.5px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e9eb;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: 0;
}

.form-control:focus {
  border-color: #00aeef;
}

.login-form {
  margin-top: 2em;
}

.form-label a {
  display: block;
  margin-bottom: 0.375rem;
  font-weight: 400;
  font-size: 14px;
  color: #00aeef;
  text-decoration: none;
}

.kt-button {
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  background-color: #00aeef;
  color: white;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  text-decoration: none;
  border-radius: 4px;
  padding: 13px 45px;
  text-transform: uppercase;
}

.kt-button:hover {
  background-color: #00a0da;
}

.register-block {
  color: #4d4d4d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 1em 0;
}

.register-block a {
  text-align: center;
  color: #00aeef;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.divider {
  margin: 0 -16px;
  border: 0;
  border-top: 7px solid #f7f7f7;
}

.mt-15 {
  margin-top: 15px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.sosmed-btn {
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  border: 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  text-decoration: none;
  border-radius: 4px;
  padding: 11px 37.5px;
  outline: 0;
}

.facebook-btn {
  background-color: #3b5999;
  color: white;
}

.google-btn {
  -webkit-box-shadow: #bcbcbc 2px 1px 2px 0;
  box-shadow: #bcbcbc 2px 1px 2px 0;
  background-color: #f7f7f7;
  color: #4a4a4a;
}

.facebook-btn img,
.google-btn img {
  margin-right: 10px;
  vertical-align: middle;
  height: 12px;
  width: 12px;
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #999;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 3.5rem;
  pointer-events: none;
}

.input-icon-addon:last-child {
  left: auto;
  right: 0;
}

.input-icon-addon svg {
  height: 20px;
  width: 20px;
}

.input-icon {
  position: relative;
}
