* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  font-size: 13px;
  line-height: 1.4;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-betweeen {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-quora {
  background-color: #91a2a8;
  background-image: url("background-mobile.png");
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.modal-quora {
  width: 400px;
  padding: 2rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 3rem;
}

.modal-quora__subheader {
  color: #f1f2f2;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal-quora__url > a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.938rem;
}

.modal-quora__term {
  margin: 1.25rem 0;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}

.modal-quora__term > a {
  color: #fff;
}

.modal-quora__footer {
  color: white;
  font-size: 0.75rem;
}

.logo__img {
  height: 5rem;
}

.btn-social {
  background-color: #fff;
  color: #666;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 3.375rem;
  position: relative;
  margin-bottom: 0.75rem;
  border-radius: 3px;
  width: 85%;
  font-size: 0.938rem;
}

.btn-social__icon {
  position: absolute;
  left: 0;
  margin-left: 0.5rem;
}

.btn-social__icon > img {
  height: 2.25rem;
  width: 2.25rem;
}

.footer__url {
  margin-bottom: 1rem;
}

.footer__url > a {
  margin: 0 0.5rem;
  color: white;
  text-decoration: none;
}
