footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 1em;
  box-sizing: border-box;
}

footer a {
	text-decoration: none;
	color: #6059ff;
}
