footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1em;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 1px -2px 5px 1px rgba(0, 0, 0, 0.2);
}

footer a {
  text-decoration: none;
  color: #6059ff;
}

@media screen and (max-width: 640px) {
  footer .author {
    display: none;
  }
}
