/*
Developed by Bhimo Al Kautsar
----------------------------------------------------------
Github: https://github.com/tentpoles
Codepen: https://codepen.io/b-alkautsar
LinkedIn: https://www.linkedin.com/in/b-alkautsar
Instagram: https://www.instagram.com/tentpolesman
Direct Link: https://biolinky.co/alkautsar
----------------------------------------------------------
Open Source Login Page CSS

*/

/* CSS Master Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* End */
.franklin-font {
  font-family: 'Libre Franklin', sans-serif;
}

.playfair-font {
  font-family: 'Playfair Display', serif;
}

body {
  width: 100%;
  letter-spacing: 0.15mm;
  position: relative;
  background: #203755;
  color: #2a2a2a;
  font-family: sans-serif;
}

.nav-container {
  width: 100%;
  padding: 8px 24px;
  background: #010203;
}

.nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-container .nav .nav-logo {
  height: 48px;
}

.main-content {
  width: 100%;
  padding: 59px 16px 158px 16px;
}

.main-content .login-card {
  margin: 0 auto;
  width: 420px;
  max-width: 100%;
  padding: 24px 40px;
  background: #f1f1f1;
  border-radius: 2px;
}

.main-content .login-card .form-header {
  margin-top: 24px;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.main-content .login-card .input-group {
  width: 100%;
  position: relative;
  margin-top: 16px;
}

.main-content .login-card .input-group .input-email {
  width: 100%;
  border: 1px solid #767676;
  border-radius: 2px;
  font-size: 15px;
  padding: 22px 24px 6px 8px;
}

.main-content .login-card .input-group .input-email:focus + .absolute-element > .placeholder-text,
.main-content .login-card .input-group .input-email:valid + .absolute-element > .placeholder-text {
  top: 6px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  font-size: 13px;
}

.main-content .login-card .input-group .input-email:focus {
  border-color: #1955a5;
}

.main-content .login-card .input-group .input-email:focus + .absolute-element > .placeholder-text {
  color: #1955a5;
}

.main-content .login-card .input-group .input-email:valid + .absolute-element > .btn-clear > img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.main-content .login-card .input-group .absolute-element .placeholder-text {
  position: absolute;
  font-size: 16px;
  left: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  color: #66667f;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.main-content .login-card .input-group .absolute-element .btn-clear {
  position: absolute;
  top: 17px;
  right: 17px;
}

.main-content .login-card .input-group .absolute-element .btn-clear img {
  height: 13px;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.main-content .login-card .btn-next,
.main-content .login-card .btn-sign-link {
  width: 100%;
  height: 40px;
  font-weight: 700;
  letter-spacing: 0.01mm;
  font-size: 15px;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-content .login-card .btn-next {
  background: #166dfc;
  color: #fff;
  margin-top: 16px;
  border-radius: 999px;
  border: 1px solid #166dfc;
}

.main-content .login-card .btn-next:hover {
  background: #039;
}

.main-content .login-card .btn-sign-link {
  background: #fff;
  color: #111;
  margin-top: 8px;
  border-radius: 999px;
  border: 1px solid #d5d5d5;
}

.main-content .login-card .btn-sign-link:hover {
  background: #e9e9e9;
}

.main-content .login-card .or-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
}

.main-content .login-card .or-legend .vertical-line {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 1px;
  background: #d5d5d5;
}

.main-content .login-card .or-legend .or-text {
  width: auto;
  position: relative;
  top: -2px;
  margin: 0 12px;
  color: #6a6666;
  font-size: 15px;
}

.main-content .login-card .description-text {
  color: #717171;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.1mm;
  line-height: 4.3mm;
  margin: 16px auto 0 auto;
}

.main-content .login-card .other-sign {
  margin-top: 16px;
}

.main-content .login-card .other-sign .other-sign-list {
  background: #fff;
  margin-top: 8px;
  height: 44px;
  padding: 0 24px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.01mm;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #d5d5d5;
}

.main-content .login-card .other-sign .other-sign-list:hover {
  background: #e9e9e9;
}

.main-content .login-card .other-sign .other-sign-list .icon-sign img {
  width: 16px;
}

.main-content .login-card .other-sign .other-sign-list .title-sign {
  margin-left: 8px;
  text-align: center;
  font-size: 15px;
}

.main-content .login-card .register {
  margin-top: 24px;
  padding: 0 40px 30px 40px;
  display: block;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.01mm;
}

.main-content .login-card .register a {
  text-decoration: underline;
  color: #2a2a2a;
}

@media (max-width: 648px) {
  .main-content .login-card {
    width: 100%;
  }
}

@media (max-width: 648px) {
  .main-content {
    padding: 16px 16px 118px 16px;
  }
}

footer {
  font-weight: 300;
  font-size: 14px !important;
}

footer a {
  color: #203755 !important;
}
