html {
  font-size: 16px;
  word-spacing: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #241c15;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #006570;
  text-decoration: underline;
}

a:hover {
  color: #004e56;
}

.text-center {
  text-align: center;
}

.content {
  display: flex;
  height: 100vh;
}

.content-left {
  background-color: #fff;
}

.content-right {
  height: 100%;
  flex-grow: 1;
  background-image: url("./undraw_my_password_d6kg.svg");
  background-color: #f7f7f7;
  background-position-y: 350px;
  background-position-x: center;
  background-size: 600px;
  background-repeat: no-repeat;
  padding: 10% 5em;
  text-align: center;
}

.form-wrapper {
  width: 448px;
  background-color: #fff;
  padding: 48px 40px 36px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .content-left {
    width: 100%;
  }

  .content-right {
    display: none;
  }
}

.logo {
  text-align: center;
}

.logo img {
  width: 64px;
}

.text-title {
  text-align: center;
  font-weight: 600;
}

.field-group {
  margin: 1em 0;
}

.input {
  padding: 0.5em 0 0.5em 1em;
  width: 100%;
  border: 1px solid rgba(36, 28, 21, 0.3);
  border-radius: 2px;
  outline: 0;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: 1px solid #007c89;
  box-shadow: inset 0 0 0 1px #007c89;
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  line-height: 2;
}

.label--right {
  cursor: pointer;
  color: #007c89;
}

.label--right svg {
  margin-right: 0.5em;
}

.is--hide {
  display: none;
}

.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 2em;
  margin: 0 auto;
  width: 180px;

  /* hardcoded value */
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(36, 28, 21, 0.3);
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkbox-checkmark {
  border: 2px solid #007c89;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkbox-checkmark {
  background-color: #007c89;
  border: 2px solid #007c89;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.checkbox-label .checkbox-checkmark::after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkbox-checkmark::after {
  display: block;
}

.btn-submit {
  background-color: #006570;
  color: #fff;
  padding: 0.7em;
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.content-right-text span {
  font-size: 1.1rem;
}

.link-custom-domain {
  background: transparent;
  opacity: 0.7;
  transition: opacity 0.15s linear;
  font-weight: bold;
  border: 2px solid #241c15;
  margin: 12px;
  border-radius: 2px;
  padding: 0 18px;
  line-height: 34px;
  display: inline-block;
  text-decoration: none;
  color: #241c15;
}

.link-custom-domain:hover {
  color: #241c15;
  opacity: 1;
}
