html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: rgb(242, 245, 247);
  color: #4d5068;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.hero {
  background-color: #6371c5;
  padding: 5em 0;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-cta {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero a {
  border: 1px solid #fff;
  color: #fff;
  background-color: #6371c5;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.body-content {
  padding: 1em;
  margin-bottom: 4em;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

.card {
  width: 30%;
  margin: 0.5em;
  text-decoration: none;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  /* 5px rounded corners */
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card > .container {
  padding: 1em;
}

.card > .container > h4 {
  color: #4a4a4a;
  line-height: 1.5;
}

.card > .container > p {
  color: #959090;
  padding-top: 0.5em;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card > img {
  border-radius: 5px 5px 0 0;
  height: 200px;
  object-fit: cover;
}
