*,
	*::after,
	*::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	img {
		margin-left:auto;
		margin-right:auto; 
		display: block;
	}	

	body,
	html {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
		text-align: center;
		font-family: "Roboto", sans-serif;
	}
	.container {
		padding: 20px;
		max-width: 350px;
		width: 95%;
		margin: 0 auto;
	}
	.container .header {
		text-align: left;
	}
	.container .header h1 {
		margin-top: 30px;
	}

	.container form .form-group {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.container form .inputField {
		height: 55px;
		border-radius: 4px;
		border: 2px solid rgb(29, 161, 242);
		padding: 10px 10px 0;
		width: 100%;
		box-shadow: none;
		outline: none;
		font-size: 14px;
	}
	.container form label {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
		transition: all 0.3s;
	}
	.container form .inputField:focus + label,
	.container form .inputField:valid + label {
		transform: translate(0, -125%);
	}
	button.submitButton {
		width: 100%;
		height: 40px;
		outline: none;
		color: #fff;
		font-weight: bold;
		border: 1px solid rgb(29, 161, 242);
		border-radius: 30px;
		background: rgb(29, 161, 242);
		cursor: pointer;
		transition: all 0.3s;
	}
	button.submitButton:hover {
		opacity: 0.7;
	}
	.footer {
		color: rgb(29, 161, 242);
		margin-top: 30px;
	}
	.footer a {
		color: rgb(29, 161, 242);
		text-decoration: none;
	}
	.footer span {
		padding: 10px;
	}
